<section class="auth-container">
  <h2>Login</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
  </form>
</section>
