<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">
      <span class="material-icons">dashboard</span>
      LegacyKit
    </a>
    <ul class="navbar-nav">
      <li><a routerLink="/tasks"><span class="material-icons">list_alt</span>
        Tasks
      </a></li>
      <li><a routerLink="/tasks/new"><span class="material-icons">add_circle</span>
        New Task</a></li>
      <ng-container *ngIf="!(auth.isLoggedIn$ | async); else loggedIn">
        <li><a routerLink="/auth/login"><span class="material-icons">login</span>
          Login</a></li>
        <li><a routerLink="/auth/register"><span class="material-icons">person_add</span>
          Register</a></li>
      </ng-container>

      <ng-template #loggedIn>
        <li class="dropdown" (click)="toggleDropdown()" tabindex="0">
    <span class="username">
      <span class="material-icons">account_circle</span>
      {{ username }}
    </span>
          <ul *ngIf="showDropdown" class="dropdown-menu">
            <li *ngIf="auth.getUserRole() === 'Admin'">
              <a routerLink="/admin">
                <span class="material-icons">admin_panel_settings</span> Admin
              </a>
            </li>

            <li (click)="goToProfile()">
              <span class="material-icons">person</span> Profile
            </li>
            <li (click)="logout()">
              <span class="material-icons">logout</span> Logout
            </li>
          </ul>
        </li>
      </ng-template>

    </ul>
  </div>
</nav>
